.navbar {
 
    background-color: #69899f;
   
    border-color: #425766;
  }

.home_pic{
    width: 500px;
    margin-left: 650px;
}

.home_title{
    text-align: center;
}

.userinfo_page{
    text-align: center;
}

p{
    text-align: center;
}

.usr_img{
    text-align: center;
}

.usr_email{
    text-align: center;
}

#book_page{
    text-align: center;
    background: red;
}

.addbook_title{
    text-align: center;
    background: greenyellow;
}

h3{
    text-align: center;
}

.img_burger{
    width: 300px;
    margin-left: 700px;
}

.img_travel{
    width: 300px;
    margin-left: 700px;
}

cite{
    font-size: 10px;
    text-align: right;
}