.navbar {
 
    background-color: #69899f;
   
    border-color: #425766;
   
  }

.userinfo_page{
    text-align: center;
}

p{
    text-align: center;
}

.usr_img{
    text-align: center;
}

.usr_email{
    text-align: center;
}

#book_page{
    text-align: center;
    background: red;
}

.addbook_title{
    text-align: center;
    background: greenyellow;
}

