<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Books Page</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="userinfo.html">User Information</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="books.html">Books Information</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        
      <div id="offerApp" class="container">
        <h1 id="book_page">Books Information</h1>
        <table id="btable" class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Authors</th>
                <th scope="col">Year Published</th>
                <th scop
                e="col">Publisher</th>
                <th scope="col">Page Count</th>
                <th scope="col">MSRP</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="b in books">
                <th scope="row">{{ b.title }}</th>
                <td>{{ b.authors }}</td>
                <td>{{ b.publishyr }}</td>
                <td>{{ b.publisher }}</td>
                <td>{{ b.pagesum }}</td>
                <td>{{ prettyDollar(b.MSRP) }}</td>
              </tr>
            </tbody>
        </table>
      </div>
    <br>
    <form v-on:submit.prevent="postNewBook">
        <h1 class="addbook_title">Add New Book's Information</h1>
        <div class="mb-3">
          <label for="input_title" class="form-label">Title</label>
          <input type="text" v-model="bookForm.title" class="form-control" id="input_title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="title_author" class="form-label">Authors</label>
          <input type="text" v-model="bookForm.authors" class="form-control" id="title_author">
        </div>
        <div class="mb-3">
            <label for="input_year_publish" class="form-label">Year Published</label>
            <input type="text" v-model="bookForm.publishyr" class="form-control" id="input_year_publish">
          </div>
          <div class="mb-3">
            <label for="input_publisher" class="form-label">Publisher</label>
            <input type="text" v-model="bookForm.publisher" class="form-control" id="input_publisher">
          </div>
          <div class="mb-3">
            <label for="input_page_count" class="form-label">Page Count</label>
            <input type="number" v-model="bookForm.pagesum" class="form-control" id="input_page_count">
          </div>
          <div class="mb-3">
            <label for="input_msrp" class="form-label">MSRP</label>
            <input type="number" v-model="bookForm.MSRP" class="form-control" id="input_msrp">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>
      </form>
      <script src="js/tablesort.min.js"></script>
      <script>
      new Tablesort(document.getElementById('btable'));
      </script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
       <!-- <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> -->
   
       <script src="js/index.js"></script>
  </body>
</html>